.footer {
  padding: 75px 0 25px;
  background: #111;
  color: #fff;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

.footer-brand h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.footer-brand p {
  max-width: 300px;
  color: #999;
  line-height: 1.6;
  font-size: 14px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-column h4 {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-column a {
  color: #999;
  font-size: 14px;
}

.footer-column a:hover {
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 60px;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;

  color: #777;
  font-size: 12px;
}

@media (max-width: 800px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 8px;
  }
}